.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.title{
  color: var(--secondary-glow);
  margin: 0 0 0 2rem;
  display:inline-block
}
.user{
  margin: 0 2rem 0 0;
  font-size: 1rem;
}
.logout{
  margin: 0 2rem 0 0;
  font-size: 1rem;
}
.logout:hover{
  color: #16a1ff;
  cursor: pointer;
}